<!DOCTYPE html>
<html>
  <head
   
    
    <title>Timebank</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div class="site">
      <div class="header"><h1>Timebank</h1>

        <b><%=current_user.email if current_user%></b>

        <%if current_user && current_user.bill != nil%> <%=', Your balance is' %> <%=current_user.bill %>
        <%end%>

      </div>
      <div class="main">

        <div class="main_menu">
          <div class="content-wrapper">
            <b> <%= link_to "All jobs", jobs_path%>  </b>
            |               
            <b><%= link_to "Add job", new_job_path%> </b>

            ]          
           <b> <%=link_to "Sign out", destroy_user_session_path, :method => :delete if current_user%></b>
            |          
           <b><%=link_to "Registry", new_user_registration_path if !current_user%></b>
            |          
            <b><%=link_to "Sign in", new_user_session_path if !current_user%></b>

            <t/>


            <%=link_to "Sign out", destroy_user_session_path, :method => :delete if current_user%>

            <%=link_to "Registry", new_user_registration_path if !current_user%>
            <%=link_to "Sign in", new_user_session_path if !current_user%>

          </div> 
        </div>
      </div>

      <div class="notice">
        <%=notice%>
      </div>
      <div class="content">
        <div class="content-wrapper"><%= yield %></div>
      </div>
      <div class="footer">&copy; Time Bank 2011</div>
    </div>


  </body>
</html>
